/.vs
/test/obj
/test/bin/roslyn
/njs/test-soket.io/node_modules
/njs/test-soket.io/iisnode
/njs/test-soket.io/bin
/njs/test-soket.io/obj
/njs/test-02/bin
/njs/test-02/obj
/njs/test-puppeteer/bin
/njs/test-puppeteer/node_modules
/njs/test-puppeteer/obj
/njs/test-puppeteer/iisnode
/njs/headless-chrome-crawler/package-lock.json
/njs/headless-chrome-crawler/node_modules
/cef/console_cef_download_theme/bin
/cef/console_cef_download_theme/obj
/download_themes/GPUCache
/download_themes/CefSharp.BrowserSubprocess.Core.pdb
/download_themes/CefSharp.BrowserSubprocess.pdb
/packages/cef.redist.x86.79.1.36
/packages/CefSharp.Common.79.1.360
/packages/CefSharp.OffScreen.79.1.360
/packages/cef.redist.x64.79.1.36
/download_themes/www.googletagmanager.com
/download_themes/fonts.googleapis.com
/download_themes/fonts.gstatic.com
/download_themes/media.giphy.com
/download_themes/www.google-analytics.com
download_themes/debug.log
/weblib/bin
/weblib/obj
/web/obj
/web/bin/weblib.pdb
/web/bin/web.dll.config
/web/bin/web.pdb
/web/bin/Quartz.xml
/web/bin/Newtonsoft.Json.xml
/web/bin/Quartz.pdb
