<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="iisnode-text" path="text.js" verb="*" modules="iisnode"/>
      <add name="iisnode-download" path="download.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="nodejs-text">
          <match url="njs/text/*"/>
          <action type="Rewrite" url="text.js"/>
        </rule>
        <rule name="Node-API">
          <match url="njs/api/*"/>
          <action type="Rewrite" url="download.js"/>
        </rule>
        <rule name="Socket-IO" patternSyntax="ECMAScript">
          <match url="socket.io.+"/>
          <action type="Rewrite" url="download.js"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
