
._debug___test {
    position: fixed;
    height: 100vh;
    top: 30px;
    right: 0;
}

    ._debug___test.show {
        background-color: dodgerblue;
        width: 200px;
        z-index: 99;
    }

    ._debug___test.hide {
        width: 50px;
        height: 20px;
    }

    ._debug___test button {
        margin-left: 100px;
    }

    ._debug___test.hide button {
        margin-left: 0px;
    }

    ._debug___test ul {
        height: 100%;
        list-style: none;
        padding: 0;
    }

        ._debug___test ul li ol li,
        ._debug___test ul li {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        ._debug___test ul li {
            margin: 0;
            border-bottom: 1px solid #ccc;
            padding: 0 0 0 9px;
        }

            ._debug___test ul li ol {
                padding: 0 0 0 22px;
                list-style: none;
            }

                ._debug___test ul li ol li {
                    padding: 0 0 0 3px;
                    height: 27px;
                    font-weight: bold;
                }

                    ._debug___test ul li ol li:hover {
                        color: orangered;
                        cursor: pointer;
                    }

                    ._debug___test ul li ol li:last-of-type {
                        border-bottom: none;
                    }
